In [112]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib

from numpy import median, mean
import statistics
%matplotlib inline

In [113]:
path = '/Users/ishan/desktop/niroggyan/get_active_data_analysis/data/'
data = pd.read_csv(path + 'final.csv')

In [114]:
new = pd.pivot_table(data, values='VALUE', index=['NAME', 'AGE', 'GENDER'],
                    columns=['PARAM TEST'], aggfunc=np.sum, fill_value=0)
independent = ['BODY MASS INDEX','HEIGHT', 'WEIGHT', 'Diastolic', 'Systolic', 'VITAMIN D (25 - OH VITAMIN D)']
dependent = ['HbA1c, GLYCATED HEMOGLOBIN', 'HDL CHOLESTEROL', 'LDL CHOLESTEROL', 'VLDL CHOLESTEROL', 'TRIGLYCERIDES', 'TOTAL CHOLESTEROL']
data = new[independent + dependent]

iv = ['Bmi','Height' ,'Weight', 'Diastolic', 'Systolic', 'VitaminD']
dv = ['Hb1ac, Glycated_haemoglobin', 'Hdl','Ldl', 'Vldl', 'Triglycerides', 'Total_cholestrol']

data.columns = iv+dv

In [115]:
data['Hb1ac, Glycated_haemoglobin']

NAME              AGE  GENDER
A Anisha          28   female       5.6
A Bhanu           31   male         8.8
A ROMIO SINGH     30   male         5.2
ABHISHEK KASHYAP  36   male         5.6
AJAY BENJWAL      28   male           0
                                  ...
yedluri.divya     24   female    5.25.2
yezdani.mohammad  33   male         5.4
yogeshwari.m      24   female       5.1
ysswamy           29   male         6.4
zmohammed         30   female       5.1
Name: Hb1ac, Glycated_haemoglobin, Length: 2534, dtype: object

In [116]:
#Adding gender
l = []
for i in data.index:
    l.append(i[2])


data['Gender'] = l


#Adding age
a = []
for i in data.index:
    a.append(int(i[1]))
data['Age'] = a

new_cols = ['Age'] + iv + dv
data = data[new_cols]

In [117]:
def convert(s):
    s = str(s)
    try:
        if '.' in s:
            i = s.index('.')
            return float(s[:(i+2)])
        elif '<'  in s:
            i = s.index('<')
            print(s[(i+1):])
            return float(s[(i+1):])
        elif '>' in s:
            i = s.index('>')
            return float(s[(i+1):])
    except:
        return float(s)

In [118]:
dvc = ['Glycated_haemoglobin', 'Hdl','Ldl', 'Vldl', 'Total_cholestrol', 'Hb1ac']
conv_cols = ['Age'] + iv + dv

for col in conv_cols:
    try:
        data = data[data[col]!='Not Required']
        data[col] = data[col].map(lambda s: convert(s))
    except:
        print(col)
#TODO:Convert Hb1ac

VitaminD

In [119]:
data.Systolic = data.Systolic.astype(float)
data.Total_cholestrol = data.Total_cholestrol.astype(float)
data.Age = data.Age.astype(float)
data.Diastolic = data.Diastolic.astype(float)

def converth(s):
    s = str(s)
    if s=='<8.00':
            return 8.00
    try:
        if '.' in s:
            i = s.index('.')
            return float(s[:(i+2)])
        
    except:
        return float(s)
    
data['Hb1ac, Glycated_haemoglobin'] = data['Hb1ac, Glycated_haemoglobin'].map(lambda x:converth(x))
data['VitaminD'] = data['VitaminD'].map(lambda x:converth(x))
                                  
data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2533 entries, ('A Anisha', 28, 'female') to ('zmohammed', 30, 'female')
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          0 non-null      float64
 1   Bmi                          2421 non-null   float64
 2   Height                       70 non-null     float64
 3   Weight                       2134 non-null   float64
 4   Diastolic                    0 non-null      float64
 5   Systolic                     2 non-null      float64
 6   VitaminD                     178 non-null    float64
 7   Hb1ac, Glycated_haemoglobin  2239 non-null   float64
 8   Hdl                          1046 non-null   float64
 9   Ldl                          2026 non-null   float64
 10  Vldl                         1927 non-null   float64
 11  Triglycerides                9 non-null      float64
 12  Total_cholestrol             0 non-null      float64
dtypes: float64(13)
memory usage: 287.4+ KB