<h1>Lisitng csv files to be merged<h1>

In [1]:
from os import listdir as ld

In [2]:
ext = 'getactive data/'
files = [file for file in ld(ext)]
files

['11awslogs1000.csv',
 '10awslogs1000.csv',
 '12awslogs1000.csv',
 '15awslogs1000.csv',
 '14awslogs1000.csv',
 '01awslogs1000.csv',
 '13awslogs1000.csv',
 '2awslogs1000.csv',
 '5awslogs1000.csv',
 '4awslogs1000.csv',
 '3awslogs1000.csv',
 '9awslogs1000.csv',
 '6awslogs1000.csv',
 '7awslogs1000.csv',
 '8awslogs1000.csv']

<h1>Merging csv files<h1>

In [3]:
#Reading Column Names from first file
import pandas as pd
df = pd.read_csv(ext+'01awslogs1000.csv')

index = df.columns

In [4]:
#Merging all data frames to one
l = []
count = 0
for file in files:
    if file!='01awslogs1000.csv':
        df = pd.read_csv(ext+file, names=index)
        count+=len(df)
    else:
        df = pd.read_csv(ext+file)
        count+=len(df)
    l.append(df)
data = pd.concat(l)

In [5]:
#check to see all rows copies
assert(count==len(data))
len(data)

145460

In [6]:
#Creaing merged csv
data.to_csv('final.csv')

<h1>Demographic Analysis<h1>

In [7]:
data.head()

,NAME,AGE,GENDER,DATE,VALUE,LOW,HIGH,PARAM TEST,UNIT,ORDER_ID
0,navaneeth.hariharan,24,male,25-07-2019,5.7,3.5,6,"HbA1c, GLYCATED HEMOGLOBIN",%,6318
1,navaneeth.hariharan,24,male,25-07-2019,33,0,50,ALANINE AMINOTRANSFERASE (ALT/SGPT),U/L,6318
2,navaneeth.hariharan,24,male,25-07-2019,4.2,3.5,5,ALBUMIN,g/dL,6318
3,navaneeth.hariharan,24,male,25-07-2019,58,40,80,NEUTROPHILS %,%,6318
4,navaneeth.hariharan,24,male,25-07-2019,26,19,43,UREA,mg/dL,6318

In [8]:
data.groupby(data.AGE).size()

AGE
21        840
22       3029
23       4599
24      17881
25       8892
26       7664
27      11111
28       9879
29       8889
30      12183
31       6870
32       6717
33      12730
34       5092
35       4124
36       4102
37       3759
38       5625
39       2070
40       1774
41       1926
42        971
43        916
44        737
45       1431
46        403
47        328
48        119
50         56
52        116
53        228
55         57
56         57
60         57
100       171
1042       57
dtype: int64

In [9]:
data.groupby(data.NAME).size()

NAME
A Anisha             52
A Bhanu              52
A ROMIO SINGH        52
ABHISHEK KASHYAP     57
AJAY BENJWAL          5
                   ...
yedluri.divya       102
yezdani.mohammad     52
yogeshwari.m         52
ysswamy              50
zmohammed            52
Length: 2527, dtype: int64

In [10]:
data.DATE = pd.to_datetime(data.DATE)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145460 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   NAME        145460 non-null  object
 1   AGE         145460 non-null  int64
 2   GENDER      145460 non-null  object
 3   DATE        145460 non-null  datetime64[ns]
 4   VALUE       145392 non-null  object
 5   LOW         145460 non-null  object
 6   HIGH        145460 non-null  object
 7   PARAM TEST  145460 non-null  object
 8   UNIT        137159 non-null  object
 9   ORDER_ID    145460 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 12.2+ MB

In [12]:
data.head()

,NAME,AGE,GENDER,DATE,VALUE,LOW,HIGH,PARAM TEST,UNIT,ORDER_ID
0,navaneeth.hariharan,24,male,2019-07-25,5.7,3.5,6,"HbA1c, GLYCATED HEMOGLOBIN",%,6318
1,navaneeth.hariharan,24,male,2019-07-25,33,0,50,ALANINE AMINOTRANSFERASE (ALT/SGPT),U/L,6318
2,navaneeth.hariharan,24,male,2019-07-25,4.2,3.5,5,ALBUMIN,g/dL,6318
3,navaneeth.hariharan,24,male,2019-07-25,58,40,80,NEUTROPHILS %,%,6318
4,navaneeth.hariharan,24,male,2019-07-25,26,19,43,UREA,mg/dL,6318

In [13]:
data[(data.AGE > 60) | (data.AGE < 25)].NAME.drop_duplicates()

0       navaneeth.hariharan
451               Padmini P
607           Shafaque Meer
820                Sushma L
872          Ankitha Verrma
               ...
9138             r.mahender
9346               Megha.ds
9398               Kishor G
9764        marysnehathomas
9816      Arshiya Muhammadi
Name: NAME, Length: 470, dtype: object

In [14]:
#view all rows!!
pd.set_option('display.max_rows', 500)

In [15]:
#create dictionary for param_test->hash code
test_list = data['PARAM TEST'].unique()

In [16]:
#Creating dicitonary hash->Param name
d = dict()


for i in test_list:
    h = str(abs(hash(i)))
    #print(int(h[:6]))
    d[int(h[:6])] = i

In [17]:
with open('test_list_dict.txt', 'w') as f:
    for k, v in d.items():
        f.write(f'{k},{v} \n')

In [18]:
#classification according to ge

child = data[data.AGE < 16]
youngAdult = data[(data.AGE >=16) & (data.AGE<=30)]
midAdult = data[(data.AGE>=31) & (data.AGE<=50)]
oldAdult = data[(data.AGE>=51) & (data.AGE<=70)]
old = data[data.AGE >=71]

In [19]:
#classification according to gender in age cohorts
m, f = 'male', 'female'

child_m = child[child.GENDER==m]
child_f = child[child.GENDER==f]

youngAdult_m = youngAdult[youngAdult.GENDER==m]
youngAdult_f = youngAdult[youngAdult.GENDER==f]

midAdult_m = midAdult[midAdult.GENDER==m]
midAdult_f = midAdult[midAdult.GENDER==f]

oldAdult_m = oldAdult[oldAdult.GENDER==m]
oldAdult_f = oldAdult[oldAdult.GENDER==f]

old_m = old[old.GENDER==m]
old_f = old[old.GENDER==f]

In [20]:
#check
assert len(old) + len(oldAdult) + len(midAdult) + len(youngAdult) + len(child) == len(data)

assert len(child_m)+len(child_f) == len(child)
assert len(youngAdult_m)+len(youngAdult_f) == len(youngAdult)
assert len(midAdult_m)+len(midAdult_f) == len(midAdult)
assert len(oldAdult_m)+len(oldAdult_f) == len(oldAdult)
assert len(old_m)+len(old_f) == len(old)