In [36]:
import pandas as pd

In [37]:
data = pd.read_csv('final.csv')

In [38]:
#data.rename(columns = {'Unnamed: 0':'INDEX'}, inplace=True)
data = data.drop(['Unnamed: 0'], axis=1)

<h1>Restructuring data using 'pivot' method

In [39]:
#duplicate values Name, test
data[['NAME','PARAM TEST', 'AGE']].drop_duplicates().shape,data.shape,data.drop_duplicates().shape

((128999, 3), (145460, 10), (128999, 10))

In [40]:
data.apply('nunique')

NAME          2527
AGE             36
GENDER           2
DATE             1
VALUE         9918
LOW             46
HIGH            59
PARAM TEST      81
UNIT            21
ORDER_ID      2534
dtype: int64

In [41]:
#find repeating names, repeating values
data['USER'] = data['NAME'].astype(str) + '_' + data['AGE'].astype(str)+'_'+data['GENDER'].astype(str)+'_'+data['DATE'].astype(str)
data['RESULT'] = data['HIGH']+data['VALUE']+data['LOW']+data['UNIT']

In [42]:
data = data.drop_duplicates()

In [43]:
#Using pivot
new = data.pivot(index='USER', columns='PARAM TEST', values='RESULT').reset_index()

In [44]:
#chscks
new.isnull().sum()

PARAM TEST
USER                                      0
A/G RATIO                              2534
ALANINE AMINOTRANSFERASE (ALT/SGPT)      96
ALBUMIN                                  96
ALKALINE PHOSPHATASE                     96
                                       ...
VLDL CHOLESTEROL                        130
VOLUME                                 2530
WEIGHT                                   91
YEAST                                  2530
pH                                     2534
Length: 82, dtype: int64

In [46]:
data['USER']

0         navaneeth.hariharan_24_male_25-07-2019
1         navaneeth.hariharan_24_male_25-07-2019
2         navaneeth.hariharan_24_male_25-07-2019
3         navaneeth.hariharan_24_male_25-07-2019
4         navaneeth.hariharan_24_male_25-07-2019
                           ...
145455             as.ramya_32_female_25-07-2019
145456     Niveditha Shetty_31_female_25-07-2019
145457     Niveditha Shetty_31_female_25-07-2019
145458     Niveditha Shetty_31_female_25-07-2019
145459     Niveditha Shetty_31_female_25-07-2019
Name: USER, Length: 128999, dtype: object

In [48]:
#Retrieving name and age from user
new['NAME'], new['AGE'], new['GENDER'], new['DATE'] = new['USER'].str.split('_').str

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.

In [50]:
cols = new.columns
cols = list(cols)
cols.remove('NAME')
cols.remove('AGE')
cols.remove('GENDER')
cols.remove('DATE')
cols.insert(0,'DATE')
cols.insert(0,'GENDER')
cols.insert(0,'AGE')
cols.insert(0,'NAME')

new = new[cols]

data = new

<h1>Demographic Analysis</h1>

In [51]:
data.columns

Index(['NAME', 'AGE', 'GENDER', 'DATE', 'USER', 'A/G RATIO',
       'ALANINE AMINOTRANSFERASE (ALT/SGPT)', 'ALBUMIN',
       'ALKALINE PHOSPHATASE', 'ASPARTATE AMINOTRANSFERASE (AST/SGOT)',
       'BACTERIA', 'BASOPHILS', 'BASOPHILS %', 'BILIRUBIN (INDIRECT)',
       'BILIRUBIN CONJUGATED (DIRECT)', 'BILIRUBIN, TOTAL', 'BLOOD',
       'BLOOD UREA NITROGEN', 'BODY MASS INDEX', 'CALCIUM', 'CASTS',
       'CHOL / HDL RATIO', 'COLOUR', 'CREATININE', 'CRYSTALS', 'Diastolic',
       'EOSINOPHILS', 'EOSINOPHILS %', 'EPITHELIAL CELLS',
       'ESR (ERYTHROCYTE SEDIMENTATION RATE)',
       'ESTIMATED AVERAGE GLUCOSE (eAG)', 'Electrocardiogram (ECG)',
       'GAMMA GLUTAMYL TRANSPEPTIDASE (GGT)', 'GLOBULIN', 'GLUCOSE',
       'GLUCOSE, FASTING', 'HAEMOGLOBIN', 'HDL CHOLESTEROL', 'HEIGHT',
       'HS-CRP (HIGH SENSITIVITY C-REACTIVE PROTEIN)',
       'HbA1c, GLYCATED HEMOGLOBIN', 'KETONES', 'LDL CHOLESTEROL',
       'LYMPHOCYTES', 'LYMPHOCYTES %', 'MCH', 'MCHC', 'MCV', 'MONOCYTES',
       'MONOCYTES %', 'NEUTROPHILS', 'NEUTROPHILS %', 'NITRITE', 'OTHERS',
       'PCV', 'PERIPHERAL SMEAR', 'PHOSPHORUS, INORGANIC', 'PLATELET COUNT',
       'PROTEIN, TOTAL', 'PUS CELLS', 'R.D.W-CV', 'R.D.W-SD', 'RBC',
       'RBC COUNT', 'SP. GRAVITY', 'Systolic', 'THYROXINE (T4, TOTAL)',
       'TOTAL CHOLESTEROL', 'TOTAL LEUCOCYTE COUNT (TLC)', 'TRANSPARENCY',
       'TRI-IODOTHYRONINE (T3, TOTAL)', 'TRIGLYCERIDES', 'TSH', 'UREA',
       'UREA- FOR FORMULAE', 'URIC ACID', 'URINE BILIRUBIN', 'URINE PROTEIN',
       'UROBILINOGEN', 'VITAMIN B12', 'VITAMIN D (25 - OH VITAMIN D)',
       'VLDL CHOLESTEROL', 'VOLUME', 'WEIGHT', 'YEAST', 'pH'],
      dtype='object', name='PARAM TEST')

In [53]:
#TODO:define type for columns
#TODO:Add date??

data['AGE'] = data['AGE'].apply(pd.to_numeric)
data.DATE = pd.to_datetime(data.DATE)

In [54]:
#classification according to age

child = data[data.AGE < 16]
youngAdult = data[(data.AGE >=16) & (data.AGE<=30)]
midAdult = data[(data.AGE>=31) & (data.AGE<=50)]
oldAdult = data[(data.AGE>=51) & (data.AGE<=70)]
old = data[data.AGE >=71]

In [55]:
#classification according to gender in age cohorts
m, f = 'male', 'female'

child_m = child[child.GENDER==m]
child_f = child[child.GENDER==f]

youngAdult_m = youngAdult[youngAdult.GENDER==m]
youngAdult_f = youngAdult[youngAdult.GENDER==f]

midAdult_m = midAdult[midAdult.GENDER==m]
midAdult_f = midAdult[midAdult.GENDER==f]

oldAdult_m = oldAdult[oldAdult.GENDER==m]
oldAdult_f = oldAdult[oldAdult.GENDER==f]

old_m = old[old.GENDER==m]
old_f = old[old.GENDER==f]

In [56]:
#check
assert len(old) + len(oldAdult) + len(midAdult) + len(youngAdult) + len(child) == len(data)

assert len(child_m)+len(child_f) == len(child)
assert len(youngAdult_m)+len(youngAdult_f) == len(youngAdult)
assert len(midAdult_m)+len(midAdult_f) == len(midAdult)
assert len(oldAdult_m)+len(oldAdult_f) == len(oldAdult)
assert len(old_m)+len(old_f) == len(old)